<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Info Cascade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Info Cascade</a>
          <!--div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div --><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}

      <hr>
      <footer>
        <p>info-cascade &copy; Ruoran Wang 2012</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
