{% extends "base.html" %}

{% block content %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>

<div class="row">
    <div class="span12">
        <h2>Create a game</h2>
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="label label-{{category}}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="modal fade in" id="myModal">
            <div class="modal-body">
                <p>info-cascade.appspot.com{{uri}}</p>
                <p><strong>Send this url to the players</strong></p>
                <p>Content: {{contains}}</p>
            </div>
            <div class="modal-footer">
                <a class="btn" href="/">Go home</a>
                <a class="btn" href="{{uri}}">Play game</a>
            </div>
        </div>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('create_game') }}" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}
            <p>
            <label for="title">{{ form.title.label }}</label>
            {{ form.title|safe }}

            {% if form.title.errors %}
            <ul class="errors">
                {% for error in form.title.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>

            <label for="title">{{ form.password.label }}</label>
            {{ form.password|safe }}

            {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>

            <p>
            <label for="mas_turns">{{ form.max_turns.label }}</label>

            {{ form.max_turns|safe }}

            {% if form.max_turns.errors %}
            <ul class="errors">
                {% for error in form.max_turns.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>
            <p><input class="btn primary" type="submit" value="Create"/></p>

        </form>

    </div>
</div>

{% endblock %}
