{% extends "base.html" %}

{% block content %}

<div class="hero-unit">
  <h1> Welcome </h1>
  <p> Information cascading is ...</p> 
</div>
<div class="row">
    <div class="span4">
        <h2>Start a new game</h2>
        <p>Several user will draw <strong>one</strong> card randomly from a same pile. Player should not tell others about what card he/she have drawn. Then </p>
        <p><a class="btn" href="/game/create">Start &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Show running games</h2>
        <p>Show running games</p>
        <p><a class="btn" href="/games">Show Games &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Show history games' analysis</h2>
        <p>Show analytics</p>
        <p><a class="btn" href="/analytics">Show Analytics &raquo;</a></p>
    </div>
</div>

{% endblock %}
