{% extends "base.html" %}
 
{% block content %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>

<div class="row">
    
    <div class="span8">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{messages[0][0]}}">
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endwith %}

        <h2>Play Game </h2>
        <p>Current turn: {{game.current_turn}}</p>
        <p>Rule: {{rule}}</p>
        <a class="btn" data-toggle="modal" href="#myModal" >Draw!</a>
        <br>
        <div class="modal hide fade in" id="myModal">
            <div class="modal-body">
            <a class="btn btn-primary pull-right" data-dismiss="modal">Close</a>
            {% if drawn == "b" %}
            <h1>Black</h1>
            <img src="/static/img/black.jpg">
            {% else  %}
            <h1>Green</h1>
            <img src="/static/img/green.jpg">
            {% endif %}
            <br>
            </div>
        </div>
        <br>
        <form action={{url_for('play_game', key=key) }} method="post" accept-charset="utf-8">
            <p>
            <label for="player">Player</label>
            <input type="text" name="player" value="Your Name" /> 
            </p>
            <p>
            <label for="guess">Guess</label>
            <input type="radio" name="guess" value="g" /> Green <br>
            <input type="radio" name="guess" value="b" /> Black
            </p>
            <input type="hidden" name="drawn" value={{ drawn }} /> 
            <input class="btn primary" type="submit" value="Submit Guess" />
        </form>
 
    </div>
    <div class="span4">
        <h1>Previous result</h1>
        <ul>
            <li>Black guess <strong>{{ black }}</strong></li>
            <li>Green guess <strong>{{ green }}</strong></li>
        </ul>
    </div>
</div>

{% endblock %}      
