{% extends "base.html" %}

{% block content %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>

<div class="row span10">

    <div class="span10 well">
        <h2>Game Status</h2>
        <table>
            <tr> <td>Black guess</td><td> <strong>{{ black }}</strong></td></tr>
            <tr> <td>Green guess</td><td> <strong>{{ green }}</strong></td></tr>
            <tr><td>Current turn</td><td> <strong>{{game.current_turn}} / {{game.max_turns}}</strong></td></tr>
            <div class="progress progress-striped active">
                <div class="bar" style="width: {{progress}}%;"></div>
            </div>
        </table>
    </div>
    <div class="span10 well">

        <h3>Rule: {{rule}}</h3>
        <a class="btn" data-toggle="modal" href="#myModal" >Draw!</a>
        <br>
        <div class="modal hide pop in" id="myModal">
            <div class="modal-body">
                <a class="btn btn-primary pull-right" data-dismiss="modal">Close</a>
                {% if drawn == "b" %}
                <h1>Black</h1>
                <img src="/static/img/black.jpg">
                {% else  %}
                <h1>Green</h1>
                <img src="/static/img/green.jpg">
                {% endif %}
                <br>
            </div>
        </div>
        <br>
        <form action="#" method="post" accept-charset="utf-8">
            <p>
            <label for="player">Player</label>
            <input type="text" name="player" placeholder="Your Name" /> 
            </p>
            <p>
            <label for="guess">Guess</label>
            <a href="#" id="green" rel="popover" data-content="Click to submit" data-original-title="Guess Green?"><img width="40%" src="/static/img/green.jpg" /></a>
            <a href="#" id="black" rel="popover" data-content="Click to submit" data-original-title="Guess Black?"><img width="40%" src="/static/img/black.jpg" /></a>
            </p>
            <input type="hidden" name="drawn" value={{ drawn }} /> 
        </form>

    </div>
</div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    // jQuery
    $(function () {
        $("#green").popover({placement: "top"});

        $("#green").live("mouseover", function() {
            $("#green").popover('show');
        });

        $("#green").live("click", function() {
            $.post("{{url_for('play_game', key=key) }}", {
                drawn: "{{ drawn }}",
                player: $('input[name="player"]').val(),
                guess: "g",
            },
            function (data) {alert("submit success")});
        });

        $("#black").popover({placement: "top"});

        $("#black").live("mouseover", function() {
            $("#black").popover('show');
        });

        $("#black").live("click", function() {
            $.post("{{url_for('play_game', key=key) }}", {
                drawn: "{{ drawn }}",
                player: $('input[name="player"]').val(),
                guess: "b",
            },
            function (data) {alert("submit success")});
        });
    });
</script>

{% endblock %}      
