{% extends "base.html" %}
{% block content %}
<script src="/static/js/jquery.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
{% if game.end %}
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Action');
        data.addColumn('number', 'count');
        data.addRows([
                ['Drawn Black Guessed Black', {{ analysis['bb'] }}],
                ['Drawn Green Guessed Green', {{ analysis['gg'] }} ],
                ['Drawn Black Guessed Green', {{ analysis['bg'] }}],
                ['Drawn Green Guessed Black', {{ analysis['gb'] }}]
                ]);

        var options = {
            title: 'Game Analysis',
            colors: ['#7A7171','#4CC417', '#808000', '#C0C0C0' ]
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
google.setOnLoadCallback(drawChart2);
function drawChart2() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Turn');
    data.addColumn('number', 'Guess Black');
    data.addColumn('number', 'Guess Green');
    data.addRows([
            {% for item in data_set %}
            
            [{{item[0]}}, {{item[1]}}, {{item[2]}}]{% if not loop.last %},{% endif %}

            {% endfor %}
            ]);

    var options = {
title: 'Chart 2'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart2'));
    chart.draw(data, options);
}
{% endif %}

$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function () {
    $("#check_password").live("click", function() {
        if ($("#pass0").val() == $("#pass1").val())
        {
            $("#result").css("visibility", "visible");
            $("#password_form").html("");
        }
        else
        {
            alert("password required");
        }
    });
    $("#delete_game").live("click", function() {
        if ($("#pass0").val() == $("#pass2").val())
        {
            $.post("/delete_game/{{game.key()}}");
        }
        else
        {
            alert("password required");
        }
    });
});
</script>
{% if not game.end %}
<form style="visibility: visible" id="password_form">
    <label>Password</label>
    <input id="pass1" name="password" type="passowrd" />
    <input id="pass0" type="hidden" value="{{game.password}}"  />
    <br>
    <a class="btn" id="check_password">Show game result</a>
</form>
{% endif %}
<div id="result" {%if not game.end%} style="visibility: hidden" {% endif%}>
    <ul class="nav nav-pills">
        <li><a href={{url_for('show_game',key=game.key())}}>{{game.title}}</a> </li> 
        <li><a>Current turn <strong>{{game.current_turn}} / {{game.max_turns}}<a></strong></li>
    </ul>

    <div class="alert alert-info">
        {% if game.contains == 'bbg' %}
        <h2>Black: 2, Green: 1</h2>
        {% else %}
        <h2>Green: 2, Black: 1</h2>
        {% endif %}
    </div>
    <div class="row">

        <div class="span6">
            {% if analysis %}
            <div id="chart_div" style="width: 100%; height: 400px;"></div>
            <div id="chart2" style="width: 100%; height: 400px;"></div>
            {% endif %}
        </div>

        <div class="span6">

            {% if plays %}
            {% for play in plays %}
            <table class="table table-striped">
                <tr><td>Turn {{ play.turn }}</td><td>{{ play.played }}</td> </tr>
                <tr><td>Player</td><td>{{ play.player }}</td></tr>
                <tr><td>Drawn</td><td>{% if play.drawn == 'g' %}Green{% else %}Black{% endif %}</td></tr>
                <tr><td>Guess</td><td>{% if play.guess == 'g' %}Green{% else %}Black{% endif %}</td></tr>
            </table>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


